<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Framaslides{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('strut.bundle.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% if framanav %}
<script src="{{ asset('nav/nav.js') }}" type="text/javascript"></script>
{% endif %}

{% if app.user %}
{% set currentRoute = app.request.attributes.get('_route') %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('presentations') }}">
                {{ 'app.name' | trans() | raw }}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" data-step="3" data-intro="{{ 'introjs.step3' | trans }}" title="{{ 'menu.newpresentation' | trans }}"><a class="nav-link" href="{{ path('app') }}"><i class="material-icons">add</i></a></li>
                {% if currentRoute == 'user_index' or currentRoute == 'user_search' %}
                {{ render(controller('StrutUserBundle:Manage:search')) }}
                {% elseif currentRoute == 'groups' or currentRoute == 'my-groups' or currentRoute == 'group_search' %}
                {{ render(controller('StrutGroupBundle:Group:search')) }}
                {% else %}
                {{ render(controller('Strut:Presentation:searchForm', {'currentRoute': app.request.attributes.get('_route')})) }}
                {% endif %}
                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="{{ 'menu.mypresentations.desc' | trans }}"><a class="nav-link" href="{{ path('presentations') }}"><i class="material-icons">description</i></a></li>
                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="{{ 'menu.groups.desc' | trans }}" data-step="5" data-intro="{{ 'introjs.step5' | trans }}"><a class="nav-link" href="{{ path('my-groups') }}"><i class="material-icons">group</i></a></li>
                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="{{ 'menu.pictures.desc' | trans }}"><a class="nav-link" href="{{ path('pictures') }}"><i class="material-icons">image</i></a></li>
                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="{{ 'menu.config' | trans }}"><a class="nav-link" href="{{ path('config') }}"><i class="material-icons">settings</i></a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('user_index') }}">{{ 'menu.admin' | trans }}</a></li>
                {% endif %}
                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="{{ 'menu.disconnect' | trans }}"><a class="nav-link" href="{{ path('fos_user_security_logout') }}"><i class="material-icons">exit_to_app</i></a></li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}
{% block messages %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endblock messages %}
<main>
{% block content %}{% endblock content %}
</main>
<script src="{{ asset('strut.bundle.js') }}"></script>
{{ piwik_code() }}
{% block endscript %}
    <script>
    {% if app.user and app.user.config.language %}
        window.setLocale('{{ app.user.config.language }}');
    {% endif %}
    </script>
{% endblock endscript %}
</body>
</html>
