<html>
    <head>
        <style type="text/css">
            {{ presentation.customStylesheet }}
        </style>
        <title>{{ presentation.presentation.title }} - Framaslides</title>

        <style>
            .componentContainer {
                position: absolute;
                line-height: normal;
                /*transform-origin: 135% 135%;*/
            }

            .transformContainer {
                transform-origin: 0 0;
            }

            .bg {
                width: 100%;
                height: 100%;
            }
        </style>

        <style>
            {% if isBGImg(presentation.surface) %}
                .strut-surface {
                    {{ getBGImgStyle(presentation.surface) }}
                }
            {% endif %}
            {% if isBGImg(presentation.background) %}
                .slideContainer {
                    {{ getBGImgStyle(presentation.background) }}
                }
            {% endif %}
            {% for slide in presentation.slides %}
                {% if isBGImg(slide.surface) %}
                    .strut-surface > .strut-slide-{{ loop.index }} {
                        {{ getBGImgStyle(slide.surface) }}
                    }
                {% endif %}
                {% if isBGImg(slide.background) %}
                    .slideContainer.strut-slide-{{ loop.index }} {
                        {{ getBGImgStyle(slide.background) }}
                    }
                {% endif %}
            {% endfor %}
        </style>


        <link rel="stylesheet" href="{{ asset('preview_export/css/themes/default-reset.css') }}">
        <link rel="stylesheet" href="{{ asset('preview_export/css/main.css') }}" type='text/css' />
        <link rel="stylesheet" href="{{ asset('preview_export/reveal/css/theme/default.css') }}" id="theme">

        {% include 'default/slides/fonts.html.twig' %}

        <link rel='stylesheet' href="{{ asset('styles/strut.themes/backgroundClasses.css') }}" type='text/css' />
        <link rel='stylesheet' href="{{ asset('styles/strut.themes/surfaceClasses.css') }}" type='text/css' />
        <link rel='stylesheet' href="{{ asset('scripts/libs/highlight.js/styles/solarized-dark.css') }}" type='text/css' />
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type='image/png' />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" type='image/png' />

        <style>
            .reveal.themedArea {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
            }

            .popup {
                position: absolute;
                pointer-events: auto;
                top: 15px;
                left: 15px;
                z-index: 2000;
            }
        </style>
        <script type="text/javascript" src="{{ asset('preview_export/scripts/dataset-shim.js') }}"></script>
        <script type="text/javascript" src="{{ asset('preview_export/scripts/impress.js') }}"></script>
        <script type="text/javascript" src="{{ asset('preview_export/scripts/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('scripts/libs/highlight.pack.js') }}"></script>
        <!--<script src="{{ asset('nav/nav.js') }}" type="text/javascript"></script>-->
        <script type="text/javascript" src="{{ asset('preview_export/scripts/onready.js') }}"></script>

        <script>
          $(document).ready(function() {
            ready(function () {
              if (!window.presStarted) {
                startPres(document, window);
                impress().init();
              }
              hljs.initHighlighting();

              if ("ontouchstart" in document.documentElement) {
                document.querySelector(".hint").innerHTML =
                  "<p>Tap on the left or right to navigate</p>";
              }
            });
          });
        </script>

        <meta property="og:title" content="{{ presentation.presentation.title | raw }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        {% set picturePath = app.request.schemeAndHttpHost ~ asset('img/slides.png') %}
        {% if presentation.presentation.pictures | length > 0 %}
            {% set picturePath = app.request.schemeAndHttpHost ~ path('show-picture', { 'uuid': (presentation.presentation.pictures | first).uuid }) %}
        {% endif %}
        <meta property="og:image" content="{{ picturePath }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:image" content="{{ picturePath }}" />
        <meta name="twitter:site" content="@framasoft" />
        <meta name="twitter:title" content="{{ presentation.presentation.title | raw }}" />
        <meta name="twitter:description" content="A presentation created with Framaslides&hellip;" />

    </head>
    <body>

        <div class="fallback-message">
            <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
            <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
        </div>

        <div class="bg {% if isBGClass(presentation.surface) %}{{ presentation.surface }} {% endif %}strut-surface">

        <div class="bg innerBg">
            <div id="impress">
                {% for slide in presentation.slides %}
                    {% include 'default/slides/slide.html.twig' with {'slide': slide, 'presentation': presentation} %}
                {% endfor %}
                <div id="overview" class="step" data-state="strut-slide-overview" data-x="" data-y="" data-scale="9"></div>
            </div>
            <div class="hint">
                <p>Utilisez la barre d'espace ou bien les touches fléchées pour naviguer</p>
            </div>
        </div>
        </div>

    </body>
</html>
